{
  "indexes": [
    {
      "name": "{{SEARCH_RAG_INDEX_NAME}}",
      "fields": [
        { "name": "id",                             "type": "Edm.String",               "key": true,  "searchable": true,  "retrievable": true, "filterable": true, "analyzer": "keyword" },
        { "name": "parent_id",                      "type": "Edm.String",               "searchable": false, "retrievable": true },
        { "name": "metadata_storage_path",          "type": "Edm.String",               "searchable": false, "retrievable": true },
        { "name": "metadata_storage_name",          "type": "Edm.String",               "searchable": false, "retrievable": true },
        { "name": "metadata_storage_last_modified", "type": "Edm.DateTimeOffset",    "searchable": false, "retrievable": true, "sortable": true, "filterable": true },
        { "name": "metadata_security_id",           "type": "Collection(Edm.String)",   "searchable": false, "retrievable": true, "filterable": true },
        { "name": "chunk_id",                       "type": "Edm.Int32",                "searchable": false, "retrievable": true },
        { "name": "content",                        "type": "Edm.String",               "searchable": true,  "retrievable": true, "analyzer": "{{SEARCH_ANALYZER_NAME}}" },
        { "name": "imageCaptions",                  "type": "Edm.String",               "searchable": true,  "retrievable": true, "analyzer": "{{SEARCH_ANALYZER_NAME}}" },
        { "name": "page",                           "type": "Edm.Int32",                "searchable": false, "retrievable": true },
        { "name": "offset",                         "type": "Edm.Int64",                "searchable": false, "retrievable": true },
        { "name": "length",                         "type": "Edm.Int32",                "searchable": false, "retrievable": true },
        { "name": "title",                          "type": "Edm.String",               "searchable": true,  "retrievable": true,  "filterable": true, "analyzer": "{{SEARCH_ANALYZER_NAME}}" },
        { "name": "category",                       "type": "Edm.String",               "searchable": true,  "retrievable": true,  "filterable": true, "analyzer": "{{SEARCH_ANALYZER_NAME}}" },
        { "name": "filepath",                       "type": "Edm.String",               "searchable": false, "retrievable": true },
        { "name": "url",                            "type": "Edm.String",               "searchable": false, "retrievable": true },
        { "name": "summary",                        "type": "Edm.String",               "searchable": true,  "retrievable": true },
        { "name": "relatedImages",                  "type": "Collection(Edm.String)",   "searchable": false, "retrievable": true },
        { "name": "relatedFiles",                   "type": "Collection(Edm.String)",   "searchable": false, "retrievable": true },
        { "name": "source",                         "type": "Edm.String",               "searchable": false, "retrievable": true,  "filterable": true },
        { "name": "contentVector",                  "type": "Collection(Edm.Single)",   "searchable": true,  "retrievable": true,  "dimensions": "{{EMBEDDINGS_VECTOR_DIMENSIONS}}", "vectorSearchProfile": "default" },
        { "name": "captionVector",                  "type": "Collection(Edm.Single)",   "searchable": true,  "retrievable": true,  "dimensions": "{{EMBEDDINGS_VECTOR_DIMENSIONS}}", "vectorSearchProfile": "default" }
      ],
      "corsOptions": {
        "allowedOrigins": ["*"],
        "maxAgeInSeconds": 60
      },
      "vectorSearch": {
        "profiles": [
          { "name": "default", "algorithm": "hnsw" }
        ],
        "algorithms": [
          {
            "name": "hnsw",
            "kind": "hnsw",
            "hnswParameters": { "m": 4, "efConstruction": 400, "efSearch": 500, "metric": "cosine" }
          }
        ]
      },
      "semantic": {
        "configurations": [
          {
            "name": "semantic-config",
            "prioritizedFields": {
              "prioritizedContentFields": [
                { "fieldName": "content" },
                { "fieldName": "imageCaptions" }
              ],
              "prioritizedKeywordsFields": [
                { "fieldName": "category" }
              ]
            }
          }
        ]
      }
    },
    {
      "name": "{{SEARCH_QUERIES_INDEX_NAME}}",
      "fields": [
        { "name": "id",            "type": "Edm.String",             "key": true },
        { "name": "datasource",    "type": "Edm.String",             "searchable": true, "filterable": true, "retrievable": true },
        { "name": "question",      "type": "Edm.String",             "searchable": true, "retrievable": true, "analyzer": "{{SEARCH_ANALYZER_NAME}}" },
        { "name": "query",         "type": "Edm.String",             "searchable": false },
        { "name": "reasoning",     "type": "Edm.String",             "searchable": true },
        { "name": "contentVector", "type": "Collection(Edm.Single)", "searchable": true, "dimensions": "{{EMBEDDINGS_VECTOR_DIMENSIONS}}", "vectorSearchProfile": "default" }
      ],
      "corsOptions": {
        "allowedOrigins": ["*"],
        "maxAgeInSeconds": 60
      },
      "vectorSearch": {
        "profiles": [
          { "name": "default", "algorithm": "hnsw" }
        ],
        "algorithms": [
          {
            "name": "hnsw",
            "kind": "hnsw",
            "hnswParameters": { "m": 4, "efConstruction": 400, "efSearch": 500, "metric": "cosine" }
          }
        ]
      }
    },
    {
      "name": "{{SEARCH_TABLES_INDEX_NAME}}",
      "fields": [
        { "name": "id",            "type": "Edm.String",             "key": true },
        { "name": "table",         "type": "Edm.String",             "searchable": true, "retrievable": true },
        { "name": "description",   "type": "Edm.String",             "searchable": true, "analyzer": "{{SEARCH_ANALYZER_NAME}}" },
        { "name": "datasource",    "type": "Edm.String",             "searchable": true },
        {
          "name": "columns",
          "type": "Collection(Edm.ComplexType)",
          "fields": [
            { "name": "name",        "type": "Edm.String", "searchable": true },
            { "name": "description", "type": "Edm.String", "searchable": true, "analyzer": "{{SEARCH_ANALYZER_NAME}}" },
            { "name": "type",        "type": "Edm.String" },
            { "name": "examples",    "type": "Collection(Edm.String)" }
          ]
        },
        { "name": "contentVector", "type": "Collection(Edm.Single)", "searchable": true, "dimensions": "{{EMBEDDINGS_VECTOR_DIMENSIONS}}", "vectorSearchProfile": "default" }
      ],
      "corsOptions": {
        "allowedOrigins": ["*"],
        "maxAgeInSeconds": 60
      },
      "vectorSearch": {
        "profiles": [
          { "name": "default", "algorithm": "hnsw" }
        ],
        "algorithms": [
          {
            "name": "hnsw",
            "kind": "hnsw",
            "hnswParameters": { "m": 4, "efConstruction": 400, "efSearch": 500, "metric": "cosine" }
          }
        ]
      }
    },
    {
      "name": "{{SEARCH_MEASURES_INDEX_NAME}}",
      "fields": [
        { "name": "id",            "type": "Edm.String",             "key": true },
        { "name": "datasource",    "type": "Edm.String",             "searchable": true, "filterable": true },
        { "name": "name",          "type": "Edm.String",             "searchable": true, "filterable": true },
        { "name": "description",   "type": "Edm.String",             "searchable": true, "analyzer": "{{SEARCH_ANALYZER_NAME}}" },
        { "name": "type",          "type": "Edm.String",             "searchable": true, "filterable": true },
        { "name": "source_table",  "type": "Edm.String",             "searchable": true, "filterable": true },
        { "name": "data_type",     "type": "Edm.String",             "searchable": true },
        { "name": "source_model",  "type": "Edm.String",             "searchable": true },
        { "name": "contentVector", "type": "Collection(Edm.Single)", "searchable": true, "dimensions": "{{EMBEDDINGS_VECTOR_DIMENSIONS}}", "vectorSearchProfile": "default" }
      ],
      "corsOptions": {
        "allowedOrigins": ["*"],
        "maxAgeInSeconds": 60
      },
      "vectorSearch": {
        "profiles": [
          { "name": "default", "algorithm": "hnsw" }
        ],
        "algorithms": [
          {
            "name": "hnsw",
            "kind": "hnsw",
            "hnswParameters": { "m": 4, "efConstruction": 400, "efSearch": 500, "metric": "cosine" }
          }
        ]
      }
    }
  ]
}
