{
    
    {# AI Search settings serve as the context for Jinja templates, combined with the App Config settings. #}
    "SEARCH_API_VERSION": "2025-05-01-preview",
    "SEARCH_ANALYZER_NAME": "standard.lucene",
    "EMBEDDINGS_VECTOR_DIMENSIONS": "3072",

    "SEARCH_RAG_INDEX_NAME": "ragindex-{{RESOURCE_TOKEN}}",

    "SEARCH_QUERIES_INDEX_NAME": "nl2sql-{{RESOURCE_TOKEN}}-queries",

    "SEARCH_TABLES_INDEX_NAME": "nl2sql-{{RESOURCE_TOKEN}}-tables",

    "SEARCH_MEASURES_INDEX_NAME": "nl2sql-{{RESOURCE_TOKEN}}-measures",
}